@import (inline) "../../node_modules/video.js/dist/video-js.min.css";

html, body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.vjs-modal-dialog-content:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}
